/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 2076922 */
  src: url('//at.alicdn.com/t/c/font_2076922_nvdsn2ut25p.woff2?t=1704259633524') format('woff2'),
  url('//at.alicdn.com/t/c/font_2076922_nvdsn2ut25p.woff?t=1704259633524') format('woff'),
  url('//at.alicdn.com/t/c/font_2076922_nvdsn2ut25p.ttf?t=1704259633524') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuan:before {
  content: "\e695";
}

.icon-gonggao:before {
  content: "\e682";
}

.icon-chanpin1:before {
  content: "\e659";
}

.icon-danye:before {
  content: "\e62e";
}

.icon-xunpan1:before {
  content: "\e66d";
}

.icon-wenzhang:before {
  content: "\e620";
}

.icon-chushaixuanxiang:before {
  content: "\e601";
}

.icon-cn:before {
  content: "\e60a";
}

.icon-en:before {
  content: "\e612";
}

.icon-seo1:before {
  content: "\e608";
}

.icon-seo:before {
  content: "\e61d";
}

.icon-chanpin:before {
  content: "\e7fb";
}

.icon-xunpan:before {
  content: "\e6bc";
}

.icon-neirong:before {
  content: "\e722";
}

.icon-ip:before {
  content: "\e63b";
}

.icon-fangke:before {
  content: "\e646";
}

.icon-liulanliang:before {
  content: "\e6c6";
}

.icon-geren:before {
  content: "\e603";
}

.icon-fangke1:before {
  content: "\e600";
}

.icon-icon:before {
  content: "\e64f";
}

.icon-tongji1:before {
  content: "\e642";
}

.icon-tongji:before {
  content: "\e68c";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-dingdan1:before {
  content: "\e63a";
}

.icon-caiwu:before {
  content: "\e64e";
}

.icon-caiwu1:before {
  content: "\e718";
}

.icon-caiwuguanli:before {
  content: "\e604";
}